<div class="row">
  <div class="col-xs-12">
    <img src="#" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btnn-primary dropdown-toggle">Manage
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">to shoping list</a></li>
        <li><a href="#">edit</a></li>
        <li><a href="#">delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    ingridience
  </div>
</div>
