<div class="row">
  <div class="col-xs-10">
    <app-edit
      (ingredientAdded)="onIngredientAdded($event)"></app-edit>
    <hr>
    <ul class="list-group">
      <p class="list-group-item"
         *ngFor="let item of ingredients; let i = index"
         [ngClass]="item.checked ? 'crossed': ''"
         (click)="crossItem(i)"
         appHighLight>
        {{item.name}}
        <span *ngIf="item.amount">({{item.amount}})</span>
        <span
          (click)="deleteItem(i)"
          class="pull-right"
        style="cursor: pointer">X</span>
      </p>
    </ul>
  </div>
</div>
